.weather-block.weather-block-display {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 18px;
}

.weather-block .weather-display {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    height: 26px;
    width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(214 214 214 / var(--tw-bg-opacity));
}

.weather-block .title-display.location {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    --tw-text-opacity: 1;
    color: rgb(102 102 102 / var(--tw-text-opacity));
}

.weather-block .title-display {
    display: block;
    text-align: right;
}

.weather-block .title-display.date {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    --tw-text-opacity: 1;
    color: rgb(102 102 102 / var(--tw-text-opacity));
}

.weather-block .title-display {
    display: block;
    text-align: right;
}

nav {
    position: sticky;
    top: 0;
    z-index: 0;
}

.menu-wrap {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: sticky;
    border-bottom: 1px solid #eee;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}

.menu {
    position: relative;
}

.sub-menu {
    margin: 0;
    padding: 2px 0 4px;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 15px;
    min-width: 140px;
    background: #eee none;
    border-radius: 0 0 5px 5px;
    transition: all .15s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px);
}

.sub-menu-item {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid gray;
}

.sub-menu-item a {
    padding: 8px 12px;
    line-height: 16px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all .15s;
}

.sub-menu-item.last {
    border-bottom: none;
}

.menu:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu-item a:hover {
    color: rgb(102, 102, 247);
}

.menu-wrap .nav-item:hover {
    border-bottom: 1px solid green;
}

.link {
    text-decoration: none;
    color: black;
    list-style: none;
}

.title:hover {
    color: rgb(102, 102, 247);
}

.second-title {
    color: gray;
    text-decoration: none;
}

.second-title:hover {
    color: rgb(102, 102, 247);
}

.thumb {
    width: 100%;
}

.nav-title {
    color: green;
    text-decoration: none;
}

.nav-title:hover {
    color: rgb(102, 102, 247);
}

.hnav-title {
    color: green;
    text-decoration: none;
}

.hnav-title:hover {
    color: rgb(102, 102, 247);
}

.nav-link {
    font-weight: 500;
    color: #333;
    height: 30px;
    align-items: center;
}

.nav-link svg {
    font-weight: 500;
    color: #333;
    height: 30px;
    align-items: center;
}

.video-thumb {
    position: relative;
    line-height: 0;
    display: block;
    overflow: hidden;
}

.video-icon {
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 60px;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 4px 8px 4px 4px;
    background: rgba(34, 34, 34, .7) none;
    border-radius: 234px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-toggle,
.login-btn {
    display: none;
}

.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 17.5px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border: 2px solid #050505;
    background: #f9f9f9;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    display: block;
}

.scroll-top a {
    color: #000000;
    display: block;
    height: 100%;
    text-decoration: none;
}